@import url("https://fonts.googleapis.com/css2?family=Jua&display=swap");

* {
  font-family: "Jua", sans-serif;
}
button {
  cursor: pointer;
  outline: none;
}

/*MyHeader*/
.myheader {
  display: flex;
  flex-direction: column;
  text-align: center;
}

/*ListPlus*/
.ListPlus {
  display: flex;
  justify-content: center;
}
.ListPlus input {
  border-radius: 5px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border: 1px solid #ccc;
  border-right: none;
  font-size: 18px;
  padding: 5px;
  width: 400px;
  outline: none;
  box-sizing: border-box;
  height: 35px;
}
.ListPlus button {
  font-size: 16px;
  width: 80px;
  border-radius: 5px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border: 1px solid #ccc;
  border-left: none;
  background-color: aqua;
  box-sizing: border-box;
  height: 35px;
}

/*Lists*/
.Lists {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.Lists img {
  width: 480px;
  height: 480px;
}

/*ListItem*/
.info {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
}

.info span {
  font-size: 20px;
  text-align: left;
  width: 500px;
}
.info button {
  font-size: 16px;
  border: none;
  width: 80px;
  height: 30px;
}

.checkBtn {
  border-radius: 5px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  background-color: rgb(34, 249, 190);
}
.deleteBtn {
  border-radius: 5px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  background-color: rgb(248, 20, 21);
}

.noneLine {
  text-decoration: none;
  color: black;
}
.checkLine {
  text-decoration: line-through;
  color: #ccc;
}
