@import url("https://fonts.googleapis.com/css2?family=Jua&display=swap");

* {
  font-family: "Jua", sans-serif;
}
/*MyHeader*/
.myheader {
  display: flex;
  flex-direction: column;
  text-align: center;
}

/*ListPlus*/
.ListPlus {
  display: flex;
  justify-content: center;
}
.ListPlus input {
  border-radius: 5px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border: 1px solid #ccc;
  border-right: none;
  font-size: 18px;
  padding: 5px;
  width: 400px;
  outline: none;
  box-sizing: border-box;
  height: 35px;
}
.ListPlus button {
  cursor: pointer;
  font-size: 16px;
  width: 80px;
  border-radius: 5px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border: 1px solid #ccc;
  border-left: none;
  background-color: aqua;
  box-sizing: border-box;
  height: 35px;
}
